@charset "utf-8";
button,fieldset,img {
	border: 0
}

a:active,button {
	background-color: transparent
}

blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,
ol,p,pre,select,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

.aside_g .list_ranking .tit_g,
.aside_g .list_txt li {
	white-space: nowrap;
	text-overflow: ellipsis
}

dl,li,menu,ol,ul {
	list-style: none
}

input::-ms-clear {
	display: none
}

button {
	cursor: pointer
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

body {
	min-width: 980px;
	background: #fff
}

body,button,input,select,td,textarea,th {
	font-size: 14px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	color: #333;
	letter-spacing: -.05em
}

.screen_out {
	line-height: 0;
	text-indent: -9999px
}

a {
	color: #333;
	text-decoration: none
}

a:active,
a:hover {
	text-decoration: underline
}

a:hover {
	color: #1e88e5
}

address,caption,cite,code,dfn,em,var {
	font-style: normal;
	font-weight: 400
}

body,html {
	height: 100%
}

html {
	overflow-y: scroll
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0
}

.ico_news,
.tit_news,
.txt_news {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

.tit_news {
	background: url(http://t1.daumcdn.net/media/news/news2016/tit_news_161223.png) no-repeat;
	-webkit-background-size: 140px 1410px;
	background-size: 140px 1410px
}

.txt_news {
	background: url(http://t1.daumcdn.net/media/news/news2016/txt_news_161118.png) no-repeat;
	-webkit-background-size: 250px 700px;
	background-size: 250px 700px
}

.ico_news,
.num_news {
	display: inline-block;
	vertical-align: top
}

.ico_news {
	background: url(http://t1.daumcdn.net/media/news/news2016/ico_news_161207.png) no-repeat;
	-webkit-background-size: 290px 240px;
	background-size: 290px 240px
}

.num_news {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	background: url(http://t1.daumcdn.net/media/news/news2016/num_news_161103.png) no-repeat;
	text-indent: -9999px;
	-webkit-background-size: 18px 1500px;
	background-size: 18px 1500px
}

.desc_thumb,
.info_thumb,
.link_cont,
.link_thumb,
.tit_g,
.tit_thumb {
	display: block
}

.aside_g {
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 40px;
}


.aside_g .tit_news {
	height: 15px;
	margin-left: 2px
}

.aside_g .cont_aside {
	margin-top: 16px
}

.util_aside {
	overflow: hidden;
	width: 262px;
	margin-top: 11px;
	padding: 0 2px
}

.util_aside .btn_slide {
	float: left;
	width: 27px;
	height: 27px;
	border: 1px solid #e2e4e5;
	border-radius: 27px
}

.util_aside .btn_slide:hover {
	border-color: #232323
}

.util_aside .btn_prev {
	margin-right: 5px
}

.util_aside .btn_slide .ico_news {
	display: block;
	width: 6px;
	height: 12px
}

.util_aside .btn_prev .ico_news {
	margin-left: 9px;
	background-position: -40px -40px
}

.util_aside .btn_next .ico_news {
	margin-left: 11px;
	background-position: -50px -40px
}

.util_aside .btn_prev:hover .ico_news {
	-webkit-animation: arrLeft .7s;
	animation: arrLeft .7s
}

.util_aside .btn_next:hover .ico_news {
	-webkit-animation: arrRight .7s;
	animation: arrRight .7s
}


.util_aside .link_all {
	float: right;
	position: relative;
	margin-top: 2px;
	padding: 7px 0
}


.util_aside .link_all:hover:after {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 12px;
	height: 1px;
	background-color: #aaa;
	content: ''
}

.util_aside .link_all .txt_news {
	float: left;
	width: 43px;
	height: 12px;
	margin-right: 6px;
	background-position: 0 -530px
}

.util_aside .link_all2 .txt_news {
	background-position: 0 -530px
}

.util_aside .link_all3 .txt_news {
	width: 54px;
	background-position: 0 -660px
}

.util_aside .link_all .ico_news {
	float: left;
	width: 6px;
	height: 11px;
	background-position: 0 0
}

.tab_aside {
	position: absolute;
	top: -4px;
	right: 1px;
	height: 23px;
	background: url(http://t1.daumcdn.net/media/news/news2016/tab_aside_161103.gif) no-repeat;
	-webkit-background-size: 150px 300px;
	background-size: 150px 300px
}

.tab_aside:after {
	display: block;
	clear: both;
	content: ''
}

.tab_aside li {
	float: left
}

.tab_aside .link_tab {
	display: block;
	overflow: hidden;
	height: 23px;
	margin-right: 12px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

.tab_aside .link_tab:hover,
.tab_aside .on .link_tab {
	background: url(http://t1.daumcdn.net/media/news/news2016/tab_aside_161103.gif) no-repeat;
	-webkit-background-size: 150px 300px;
	background-size: 150px 300px
}

.tab_aside .cont_aside {
	display: none
}

.tab_aside .on .cont_aside {
	display: block
}

.tab_media {
	width: 103px
}

.tab_media .link_tab1 {
	width: 23px
}

.tab_media .link_tab2 {
	width: 34px
}

.tab_media .link_tab3 {
	width: 22px;
	margin-right: 0
}

.tab_media .link_tab1:hover,
.tab_media .on .link_tab1 {
	background-position: 0 -30px
}

.tab_media .link_tab2:hover,
.tab_media .on .link_tab2 {
	background-position: -35px -30px
}

.tab_media .link_tab3:hover,
.tab_media .on .link_tab3 {
	background-position: -81px -30px
}



.aside_g .list_ranking li {
	overflow: hidden;
	float: none;
	position: relative;
	width: 242px;
	height: 30px;
	padding-left: 24px
}

.aside_g .list_ranking .num_news {
	position: absolute;
	top: 50%;
	left: 3px;
	width: 18px;
	height: 11px;
	margin-top: -8px
}

.aside_g .list_ranking .num1 {
	background-position: 0 -820px
}

.aside_g .list_ranking .num2 {
	background-position: 0 -840px
}

.aside_g .list_ranking .num3 {
	background-position: 0 -860px
}

.aside_g .list_ranking .num4 {
	background-position: 0 -880px
}

.aside_g .list_ranking .num5 {
	background-position: 0 -900px
}

.aside_g .list_ranking .num6 {
	background-position: 0 -920px
}

.aside_g .list_ranking .num7 {
	background-position: 0 -940px
}

.aside_g .list_ranking .num8 {
	background-position: 0 -960px
}

.aside_g .list_ranking .num9 {
	background-position: 0 -980px
}

.aside_g .list_ranking .num10 {
	background-position: 0 -1000px
}

.aside_g .list_ranking .num11 {
	background-position: 0 -1020px
}

.aside_g .list_ranking .num12 {
	background-position: 0 -1040px
}

.aside_g .list_ranking .num13 {
	background-position: 0 -1060px
}

.aside_g .list_ranking .num14 {
	background-position: 0 -1080px
}

.aside_g .list_ranking .num15 {
	background-position: 0 -1100px
}

.aside_g .list_ranking .num16 {
	background-position: 0 -1120px
}

.aside_g .list_ranking .num17 {
	background-position: 0 -1140px
}

.aside_g .list_ranking .num18 {
	background-position: 0 -1160px
}

.aside_g .list_ranking .num19 {
	background-position: 0 -1180px
}

.aside_g .list_ranking .num20 {
	background-position: 0 -1200px
}

.aside_g .list_ranking .num21 {
	background-position: 0 -1220px
}

.aside_g .list_ranking .num22 {
	background-position: 0 -1240px
}

.aside_g .list_ranking .num23 {
	background-position: 0 -1260px
}

.aside_g .list_ranking .num24 {
	background-position: 0 -1280px
}

.aside_g .list_ranking .num25 {
	background-position: 0 -1300px
}

.aside_g .list_ranking .num26 {
	background-position: 0 -1320px
}

.aside_g .list_ranking .num27 {
	background-position: 0 -1340px
}

.aside_g .list_ranking .num28 {
	background-position: 0 -1360px
}

.aside_g .list_ranking .num29 {
	background-position: 0 -1380px
}

.aside_g .list_ranking .num30 {
	background-position: 0 -1400px
}

.aside_g .list_ranking .tit_g {
	overflow: hidden;
	font-weight: 400;
	line-height: 23px
}





.aside_popular {
	height: 415px;
	padding-top: 19px;
	border-top: 2px solid #141414
}

.aside_popular .tit_news {
	width: 72px;
	background-position: 0 -420px
}

.aside_popular .tab_aside {
	top: 15px
}

.aside_popular .cont_aside {
	position: absolute;
	top: 38px;
	left: -192px;
	margin-top: 0;
	padding-top: 13px;
	border-top: 1px solid #e5e5e5
}

.aside_popular .list_ranking li {
	width: 272px
}

.aside_popular .util_aside {
	width: 292px;
	padding: 14px 2px 13px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5
}

.aside_popular .cont_aside {
  left: -146px
}
.aside_popular .list_ranking li {
  width: 226px
}
.aside_popular .util_aside {
  width: 246px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
	.tab_aside,
	.tab_aside .link_tab:hover,
	.tab_aside .on .link_tab {
		background-image: url(http://t1.daumcdn.net/media/news/news2016/retina/tab_aside_161103.gif)
	}
	.tit_news {
		background-image: url(http://t1.daumcdn.net/media/news/news2016/retina/tit_news_161223.png)
	}
	.txt_news {
		background-image: url(http://t1.daumcdn.net/media/news/news2016/retina/txt_news_161118.png)
	}
	.ico_news {
		background-image: url(http://t1.daumcdn.net/media/news/news2016/retina/ico_news_161207.png)
	}
	.num_news {
		background-image: url(http://t1.daumcdn.net/media/news/news2016/retina/num_news_161103.png)
	}
}
